.authorization-block {
  margin-bottom: 8px;
  display: flex;
  font-size: 12px;
  color: $main-white;
}

.btn-default {
  padding: 3px 10px;
  margin-left: auto;
  border: none;
  border-radius: 3px;
  color: $main-white;
  background: $color-accent;
  cursor: pointer;
  @include transition;

  &:hover {
    box-shadow: 0 0 10px $color-accent;
  }

  &:focus {
    outline: none;
  }
}

.btn-login {
  display: none;
}

.authorization-block__data {
  display: none;
}

.isonline-active {
  display: block;
  margin-left: auto;
}

.username {
  margin-right: 8px;
}
